[Desktop Entry]
Version=0.1-1
Type=Application
Terminal=false
Exec=/usr/bin/jobMan-pkexec
Name=Upstart Job Manager
Comment=Upstart Job Management Tool
Icon=preferences-system
